{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Lenguajes de programación</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum amet unde, ipsam sit nihil fuga deleniti fugit iusto asperiores officiis minus inventore magni cumque laudantium veniam vitae adipisci provident animi.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/lenguajes-programacion.jpg" class="img-thumbnail">
    </div>

</div>

    

{{> footer }}